{#<a href="http://yotube.com" target="_blank">ytuh</a>#}
{##}
{#<h1>ytuh</h1>#}
{#<strong>ytuh</strong>#}
{#<h1><em>ytuh</em></h1>#}
{#<small>ytuh</small>#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>мой сайт самый крутотй</title>
    </head>
    <body>
        <input placeholder="oogo"><br>
        <textarea></textarea><br>
        <audio controls>
            <source src="/media/Miki_Matsubara_-_Stay_With_Me.mp3" type="audio/mpeg">
        </audio><br>
        <video controls height="400px">
            <source src="/media/ssstik.io_1675499053732.mp4">
        </video>
        <div>
            <h1><em>МАКУИН</em></h1>
            <img src="/media/0409LM.jpg" width="100px" height="400px">
        </div>
        <table border="3">
            <tr>
                <th>имя</th>
                <th>фамилия</th>
            </tr>
            <tr>
                <td>таксист</td>
                <td>koichai</td>
            </tr>
            <tr>
                <td>abdu</td>
                <td>horosho</td>
            </tr>
        </table>
    </body>
</html>